<!-- For new posts -->
<div id="errorbox">You shouldn't be seeing this</div>

<div class="auth-container">
    <form id="login" method="POST" action="/login">
    <legend><h1>Login</h1></legend>
        {{>auth}}
    </form>
</div>

<script src="/js/auth.js"></script>
