<!-- For new posts -->
<div id="errorbox">You shouldn't be seeing this</div>

<div class="auth-container">
    <legend><h1>Register</h1></legend>
    <form id="register">
        {{>auth}}
        <div class="auth-buttons">
            <button type="submit">Register</button>
        </div>
    </form>
</div>

<script src="/js/auth.js"></script>
