<!-- For new posts -->
<div id="errorbox" class="alert alert-danger" style="opacity: 0">You shouldn't be seeing this</div>

<div class="auth-container">
    <form id="register" method="POST" action="/register">
    <legend><h1>Register</h1></legend>
        {{>auth}}

    </form>
</div>
