<div class="auth-user">
    <!-- If you want to change this, you'll need to go to the jquery -->
    <input id="username" type="text" placeholder="Username">
    <input id="email" type="text" placeholder="E-mail">
    <input id="password" type="password" placeholder="Password">
</div>
