<!DOCTYPE html>
<style>
html{
    height: 100%;
}

.logged-in {
    display: none;
}

.logged-out{
    display: block
}

body.logged .logged-in{
    display: block;
}

body.logged .logged-out{
    display: none;
}
</style>
<head>
    <title>Placeholder here</title>

    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <link rel="stylesheet" href="../../style.css"/>
    <link rel="stylesheet" href="../../style-home.css"/>

</head>

<body class="{{bodytype}}">
    {{{body}}}
</body>
