#home-body{
    display: grid;
    height: 100%;
    grid-template-rows: 1fr 3fr 3fr;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-areas:
        "head head head head"
        "jumb jumb jumb jumb"
        "info info info info";
}

#home-header{
    grid-area: head;
    display: flex;
    background-color: pink;
    /* grid-template-columns: 0.5fr 2fr 2fr 3fr;
    grid-template-areas:
        "logo title . link";*/
    align-items: flex-end;
    justify-content: space-between;
}
    #header-left{
        display: inline-flex;
        flex-grow: 1;
        align-self: center;
    }
        #header-logo{
            align-self: center;
        }
        #header-title{
            margin: 0px 10px;
            align-self:flex-end;
        }


    #header-links{
        display: inline;
        flex-grow: 1;
    }

        #header-links ul{
            margin: 0;
            padding: 0;
            list-style-type: none;
            text-align: center;
        }

        #header-links ul li{
            display: inline;
        }
        #header-links ul li a{
            text-decoration: none;
            padding: .2em 1em;
            color: #fff;
            background-color: #038;
        }

#home-jumbotron{
    grid-area: jumb;
    background-color: lightblue;

    display: grid;
    grid-template-columns: 1fr 2fr;
}
    #home-subtitle{
        grid-column: 1;
        background-color: orange;
        padding: 50px 20px;
    }

        #home-subtitle ul{
            list-style-type: circle;
            align-self: center;
        }

        #home-subtitle ul li{
            margin: 20px;
        }

    #home-image{
        grid-column: 2;
        background-color: purple;
    }

#home-info{
    grid-area: info;
    background-color: lightgreen;
}
