*{
  box-sizing:border-box;
  margin:0;
}
body{
  margin:0;
}
*{
  box-sizing:border-box;
}

#main-wrapper{
  display:grid;
  width:100vw;
/*  grid-template-columns:repeat(12,1fr);*/
  grid-template-columns:244px auto;
  grid-template-rows: 2em auto;
  background-color:#a1b290;
  height:100vh;
  position:absolute;
  top:0;
  left:0;

}

#top-tool-bar{
/*  grid-column:1/13;*/
  grid-column:1/3;
  height:3em;
  background-color:rgb(231,233,236);
}

#library-wrapper{
/*  grid-column:1/3;*/
  grid-column:1/2;
  background-color:rgb(64,76,71);
/*   display:flex;
  justify-content:space-evenly;
  flex-flow:row wrap;
  align-content:flex-start; */
  display:grid;
  grid-template-columns:repeat(2,1fr);
  grid-auto-rows:7em;

  justify-items:center;

    justify-content: space-evenly;
}

#cs-title{
    text-align: center;
}

.component{
  background-color:rgb(185,196,202);
/*
  width: calc(calc(100vw / 12) * 1.5);
  height:calc(calc(100vw / 12) * 1.5);
*/
/*   width:5em;
  height:5em; */
  width:3em;
  height:3em;
  justify-self:center;
  align-self: end;
  border:none;
  z-index:10;

}

.component:hover{
  cursor:grab;
}

.component:active{
  cursor:grabbing;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}

.part:hover, .part *:hover{
  cursor: grab;
}

.part:hover, .part *:active{
  cursor: grabbing;
}

.component > svg{
    width:3em;
    height:3em;
}

.component .part{
    position: absolute;
    
}


#grid-wrapper{
    --grid-color-minor: rgba(231,233,236,.3);
    --grid-color-major: rgba(231,233,236,.5);
/*  grid-column:3/13;*/
  grid-column:2/3;
/*  height:100vh;*/
  align-self:stretch;
  border:none;
  background-color:rgb(185,196,202);
  --cell-size: 1em;
  background-image:
    /*minor horiz*/ 
  linear-gradient(var(--grid-color-minor) .1em, transparent .1em), 
  linear-gradient(var(--grid-color-major) .1em, transparent .1em), /*major horiz*/
  linear-gradient(90deg, var(--grid-color-minor) .1em, transparent .1em), /*minor vert*/
  linear-gradient(90deg, var(--grid-color-major) .1em, transparent .1em); /*major vert*/ 

  background-size:
    calc(10em / 10) calc(10em / 10),
    10em 10em,
    calc(10em / 10) calc(10em / 10),
    10em 10em,
    10em 10em,
    10em 10em; 

/*
    background-size:
    calc(10vw / 10) calc(10vw / 10),
    10vw 10vw,
    calc(10vw / 10) calc(10vw / 10),
    10vw 10vw,
    10vw 10vw,
    10vw 10vw;
*/
  position:relative;

}

/* button mock up sidebar mock up */

.copy{
    --x: 0;
    --y: 0;
    /* display:block;
    width:5em;
    height:5em; */
/*    background-color:white;*/
    /* background-image: url('../../../Desktop/component_svgs/capacitor.svg');
    background-size: 5em 5em;
    position:absolute; */
    transform:
        translateX(calc(var(--x) * 1px))
        translateY(calc(var(--y) * 1px));
    z-index:40;
}

svg > g{
  --x:0;
  --y:0;
  transform:
    translateX(calc(var(--x) * 1px))
    translateY(calc(var(--y) * 1px));
/*    scale(1.5);*/
  z-index:40;
/*  fill:rgba(0,0,0,.5);*/
/*
  stroke:black;
   
*/
    
}

g *:not(#Rectangle){
    /* make the lines bolder (except around transparent rectangle) */
    stroke:black;
}

g polygon{
    stroke:black;
    fill: #D8D8D8;
}

/*
polyline{
    fill= "none";
}

path{
    fill= "none";
}
*/
#svg-container{
  width:100vw;
  height:100vh;
  position:relative;
  /* z-index:100000; */
  
}

#Rectangle{
    fill: rgb(246,71,68);
}